<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <div class="header row">
      <div class="col-md-3">
        <center>
          <img src="/img/logo.png" alt="" srcset="" width="100" />
        </center>
      </div>
      <div class="col">
        <h3>Balai Makarti</h3>
        Jl. TMP. Kalibata No.17, RT.6/RW.7, Rawajati, Kec. Pancoran, Kota
        Jakarta Selatan, Daerah Khusus Ibukota Jakarta
      </div>
    </div>
    <table class="table" id="mytable">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Nama</th>
          <th scope="col">Email</th>
          <th scope="col">Nomor HP</th>
          <th scope="col">Alamat</th>
          <th scope="col">Level</th>
          <th scope="col">Jenis Kelamin</th>
        </tr>
      </thead>
      <tbody>
        <% result.forEach((user, i) => { %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td class="text-capitalize"><%= user.name %></td>
          <td><%= user.email %></td>
          <td class="text-capitalize"><%= user.nomor_hp %></td>
          <td><%= user.alamat %></td>
          <td class="text-capitalize"><%= user.level %></td>
          <td class="text-capitalize">
            <%= user.jk == 0 ? 'Perempuan' : 'Laki-laki' %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <br />
    <div style="float: right">
      <label for=""
        >Jakarta, <%= moment().format('dddd DD MMMM YYYY'); %> %></label
      >
      <br />
      <center>
        <label>Admin</label>
      </center>
      <br />
      <br />
      <br />
      <br />
      <center>
        <label> Allan Ferdhian</label>
      </center>
    </div>
  </div>
</div>

<script>
  window.print();
</script>
