<div class="row justify-content-center mt-5">
  <div class="col-md-10">
    <div class="header row">
      <div class="col-md-3">
        <center>
          <img src="/img/logo.png" alt="" srcset="" width="100" />
        </center>
      </div>
      <div class="col-md-9">
        <h3>Balai Makarti</h3>
        Jl. TMP. Kalibata No.17, RT.6/RW.7, Rawajati, Kec. Pancoran, Kota
        Jakarta Selatan, Daerah Khusus Ibukota Jakarta
      </div>
    </div>
    <table class="table" id="mytable">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Kode Transaksi</th>
          <th scope="col">Nama Pemesan</th>
          <th scope="col">Nomor HP</th>
          <th scope="col">Harga</th>
          <th scope="col">Bukti Pembayaran</th>
          <th scope="col">Nama Gedung</th>
          <th scope="col">Tgl Sewa</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% result.forEach((pesanan, i) => { %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td class="text-capitalize"><%= pesanan.kode_transaksi%></td>
          <td class="text-capitalize"><%= pesanan.nama_pemesan %></td>
          <td class="text-capitalize"><%= pesanan.nomor_hp %></td>
          <td>Rp<%= pesanan.total_harga %></td>
          <td class="text-capitalize">
            <img
              src="/<%= pesanan.img %>"
              alt=""
              style="width: 70px; height: 70px; object-fit: cover"
            />
          </td>
          <td class="text-uppercase"><%= pesanan.nama_gedung %></td>
          <td class="text-capitalize">
            <%= moment(pesanan.sewaTgl).format('dddd DD MMMM YYYY') %>, <%=
            pesanan.sewaJam %> : <%= pesanan.sewaWaktu %>
          </td>
          <td class="text-capitalize"><%= pesanan.status %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <br />
    <div style="float: right">
      <label for=""
        >Jakarta, <%= moment().format('dddd DD MMMM YYYY'); %> %></label
      >
      <br />
      <center>
        <label>Admin</label>
      </center>
      <br />
      <br />
      <br />
      <br />
      <center>
        <label> Allan Ferdhian</label>
      </center>
    </div>
  </div>
</div>

<script>
  window.print();
</script>
