<%- include('../../navbar_admin') %>

<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    <div class="card p-5">
      <h3>Detail pemesanan</h3>
      <a href="/admin/pemesanan/print-detail/<%= result.id %>">Cetak PDF</a>
      <br />
      <label for=""
        >Kode Transaksi : <b><%= result.kode_transaksi %></b>
      </label>
      <br />
      <label for="">Nama Gedung : <%= result.nama_gedung %> </label>
      <br />
      <label for=""
        >Tgl Pemesan : <%= moment(result.sewaTgl).format("dddd, DD MMMM YYYY")
        %>, <%= result.sewaJam %> : <%= result.sewaWaktu %>
      </label>
      <br />
      <label class="text-capitalize"
        >Tipe Pembayaran : <%= result.typeBayar %></label
      >
      <br />
      <label class="text-capitalize"
        >Total Harga : Rp<%= result.total_harga %></label
      >
      <br />
      <label class="text-capitalize">Bank : <%= result.bank %></label>
      <br />
      <label class="text-capitalize"
        >Bukti Bayar :
        <img src="/<%= result.img %>" alt="" srcset="" style="width: 30%"
      /></label>
      <br />
      <label class="text-capitalize"
        >Status : <b><%= result.status %></b>
      </label>
      <br />
      <hr />

      <br />
      <form action="/admin/pemesanan/edit/<%= result.id %>" method="post">
        <input type="hidden" name="usersId" value="<%= result.usersId %>" />
        <label for="">Ubah Status : </label>
        <select name="status">
          <option value="diproses">diproses</option>
          <option value="gagal">gagal</option>
          <option value="selesai">selesai</option>
        </select>
        <br />
        <br />
        <input
          type="submit"
          value="Simpan"
          class="btn btn-success mt-3 w-100"
        />
        <br />
      </form>

      <a href="/admin/pemesanan" class="btn btn-primary w-100 mt-3">Kembali</a>
    </div>
  </div>
</div>
